<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Ryan255</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.3.0.3.min.css">
    <link rel="stylesheet" href="../../static/css/main.css"/>
    <link rel="stylesheet" href="../../static/css/index.css"/>
</head>

<body>
<main>
    <header>
        <div id="logo"><img src="../../static/image/yinsang.jpg" alt="logo" width="50" height="45"/></div>
        <ul class="nav nav-pills">
            <li><a href="/blog">Ryan255的博客</a></li>
            <li><a href="http://localhost:8000/admin">管理</a></li>
            <li><a href="comment">留言</a></li>
        </ul>
    </header>
    <div id="article">
        <div class="item">留言</div>
        <div class="article">

        </div>
    </div>
</main>
</body>
</html>